<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Bill</title>
</head>
<body>
    <h1>Create Bill</h1>
    <a href="/">Item List</a>
    <form method="POST">
        {% csrf_token %}
        {% for item in items %}
            <input type="checkbox", name="items", value={{item.id}}>{{item.name}} - {{ item.price}}
        {% endfor %}
        <input type="submit" value="Create Bill">
    </form>
</body>
</html>